
@{
    ViewData["Title"] = "Blog";
}

<nav class="sub-nav">
    <ul>
        <li><a asp-controller="admin" asp-action="index">Admin</a></li>
        <li><a asp-controller="admin" asp-action="blog">Blog</a></li>
        <li><a asp-controller="admin" asp-action="forum">Forum</a></li>
        <li><a asp-controller="admin" asp-action="usermanagement">Benutzer Management</a></li>
        <li><a asp-controller="admin" asp-action="entries">Einträge</a></li>
    </ul>
</nav>
<section>
    <h2>Blog</h2>
</section>

