
@{
    ViewData["Title"] = "Entries";
}
<environment names="Development">
    <script src="~/js/admin.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/admin.min.js" asp-append-version="true"></script>
</environment>
<nav class="sub-nav">
    <ul>
        <li><a asp-controller="admin" asp-action="index">Admin</a></li>
        <li><a asp-controller="admin" asp-action="blog">Blog</a></li>
        <li><a asp-controller="admin" asp-action="forum">Forum</a></li>
        <li><a asp-controller="admin" asp-action="usermanagement">Benutzer Management</a></li>
        <li><a asp-controller="admin" asp-action="entries">Einträge</a></li>
    </ul>
</nav>
<section>
    <h2>Einträge</h2>
    <article>
        <form id="entry-form">
            <label>Titel</label>
            <input type="text" name="title"/>
            <label>Inhalt</label>
            <textarea id="content"></textarea>
            <input type="submit" value="Speichern" />
        </form>
    </article>
    <article>
        <table id="entries-for-admin">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Datum</th>
                    <th>Autor</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody id="data">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Pagination</td>
                </tr>
            </tfoot>
        </table>
    </article>
</section>

