<section ng-controller="TextsController" ng-init="GetTexts()">
    <article class="preview" ng-repeat="t in texts track by t.TextId">
        <h2>{{t.TextTitle}}</h2>
        <p>
            {{t.TextContent | htmlToPlaintext | limitTo: 300}}... <a href='/Text/Read/{{t.TextId}}'>Lesen</a>
        </p>
    </article>
</section>
