@import url('https://fonts.googleapis.com/css?family=Metamorphous|Open+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #ECECEC;
}

h1, h2, h3, h4, h5, h6 { font-family: "Metamorphous", cursive; }

.main-nav {
    font-family: "Metamorphous", cursive;
    background-color: #6C7A89;
}

.main-nav-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.main-nav-list li { display: inline-block; }

    .main-nav-list li:hover {
        background-color: #95A5A6;
    }

.main-nav-list li:hover a { color: #ffffff; }

.main-nav-list li:hover .main-nav-sublist a { color: #000000; }

.main-nav-list li:hover .main-nav-sublist li:hover a { color: #ffffff; }

.main-nav-list a {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.main-nav-sublist {
    display: none;
    position: absolute;
    top: 3.225rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #D2D7D3;
}

.main-nav-sublist li:first-child { padding-top: 0; }

.main-nav-list li:hover > .main-nav-sublist { display: inherit; }

.main-nav-list .main-nav-sublist li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

.main-nav-login-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.main-nav-login-list li { display: inline-block; }

.main-nav-login-list a {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

    .main-nav-login-list li:hover {
        background-color: #95A5A6;
    }

.main-nav-login-list li:hover a { color: #ffffff; }

footer {
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border-top: 0.125rem solid #BDC3C7;
}

section {
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border-bottom: 0.125rem solid #BDC3C7;
}

section:first-child { border-top: none; }

section:last-child { border-bottom: none; }

article {
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.sub-nav {
    font-family: "Metamorphous", cursive;
    background-color: #6C7A89;
}

.sub-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-nav ul li {
    display: inline-block;
}

    .sub-nav ul li:hover {
        background-color: #95A5A6;
    }

.sub-nav ul li a {
    color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

form {

}

label {

}

input, textarea {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
    width: 100%;
}

    input[type=submit] {
        background: white;
        padding: 0.5rem;
        border: 0.125rem solid #BDC3C7;
        font-family: "Metamorphous", cursive;
    }

    input[type=submit]:hover {
        cursor: pointer;
        background-color: #BDC3C7;
        color: #ffffff;
    }

textarea {
    height: 10rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #BDC3C7;
}

thead th {
    text-align: left;
    color: #ffffff;
}