@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Inconsolata:400,700');

body {
    font-family: 'Inconsolata', monospace;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    margin-right: 0.5em;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

pre { display: inline; }

nav {
    background-color: #6C698D;
    bottom: 0;
    color: white;
    left: 0;
    position: fixed;
    right: 0;
}

nav ul {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: table-cell;
    padding: 0.75em;
    text-align: center;
}

nav ul li a {
    color: white;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
}

nav ul li:hover {
    background-color: #D4D2D5;
    color: rgb(68, 68, 68);
}

.archive-nav {
    background-color: #BFAFA6;
    padding: 1em;
    position: relative;
}

.archive-nav form input { display: inline-block; }

.buttongroup {
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-flow: row wrap;
}

.buttongroup button, .buttongroup select { margin: 0.1em; }

main { margin-bottom: 20%; }

header {
    margin: auto;
    max-width: 34em;
    padding: 1em;
    width: 100%;
}

header h1 {
    margin-bottom: 0;
    margin-top: 0;
}

header h1 a {
    color: rgb(68, 68, 68);
    text-decoration: none;
}

article { padding: 1em; }

.preview { padding: 1em; }

.preview h2 a {
    color: rgb(68, 68, 68);
    text-decoration: none;
}

article {
    border-bottom: 0.1em solid #D4D2D5;
    color: rgb(68, 68, 68);
    margin: auto;
    max-width: 34em;
}

.text {
    color: rgb(68, 68, 68);
    margin: auto;
    max-width: 34em;
    padding: 1em;
}

input {
    display: block;
    margin-bottom: 1em;
    padding: 0.75em;
}

select {
    margin-bottom: 1em;
    padding: 0.75em;
}

input[type=submit], button {
    -ms-border-radius: 3px;
    background-color: #6E6A6F;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 0.75em;
}

input[type=submit]:hover, button:hover {
    -ms-opacity: 0.8;
    opacity: 0.8;
}

.mce-container { margin-bottom: 1em !important; }

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

table thead tr th {
    border-bottom: 0.2rem solid lightgrey;
    padding: 0.5rem 0.5rem 0.5rem 0;
    word-wrap: break-word;
}

table tbody tr td {
    border-bottom: 0.1rem solid lightgrey;
    padding: 0.5rem;
    text-align: left;
    word-wrap: break-word;
}

table thead {
    font-weight: 700;
    text-align: left;
}

.status { font-weight: 800; }

footer { border-top: 0.1rem solid lightgrey; }

footer button { margin-bottom: 1em; }

@media (min-width: 1024px) {
    .admin article { max-width: initial; }
}

@media print {
    nav { display: none; }

    nav ul { display: none; }

    footer { display: none; }

    header { display: none; }

    article { border: none; }

    .text button { display: none; }
}