@{
    ViewBag.Title = "Index";
}

<section class="admin" ng-controller="TextsController" ng-init="GetTextsForAdmin()">
    <article>
        <form ng-submit="CreateText()">
            <label>Text Title</label>
            <input type="text" ng-model="newText.TextTitle" required/>
            <label>Text Content</label>
            <textarea ui-tinymce="{trusted: true, plugins: 'link',toolbar: 'link',link_context_toolbar: true}" ng-model="newText.TextContent" required></textarea>
            <label>Prose</label><input type="radio" name="text-type" ng-value="true" ng-change="newText.TextPoetry = false; newText.TextBlog = false;" ng-model="newText.TextProse" />
            <label>Poetry</label><input type="radio" name="text-type" ng-value="true" ng-change="newText.TextProse = false; newText.TextBlog = false;" ng-model="newText.TextPoetry" />
            <label>Blog</label><input type="radio" name="text-type" ng-value="true" ng-change="newText.TextPoetry = false; newText.TextProse = false;" ng-model="newText.TextBlog" />
            <input type="submit" value="Submit"/>
            <p>{{status}}</p>
        </form>
    </article>
    <article class="desktop">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Date</th>
                <th>Published</th>
                <th>Views</th>
                <th>Shares</th>
                <th>Aver. Stay</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in texts track by t.TextId">
                <td>{{t.TextTitle}}</td>
                <td>{{t.TextType}}</td>
                <td>{{t.TextDate | date: "dd/MM/yyyy @@ HH:mm"}}</td>
                <td>{{t.TextPublished ? t.TextPublishDate : "n/a" | date: "dd/MM/yyyy @@ HH:mm"}}</td>
                <td>{{t.TextViews}}</td>
                <td>{{t.TextShares}}</td>
                <td>{{t.TextStayDuration / 60000 | limitTo: 4}}</td>
                <td>
                    <!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="http://floserzaehlungen.blog/" data-a2a-title="{{t.TextTitle}}">
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                    </div>
                    <script>
                        var a2a_config = a2a_config || {};
                        a2a_config.locale = "de";
                        a2a_config.templates = {
                            twitter: "Neue Erzählung '${title}' auf: ${link}"
                        };
                    </script>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                </td>
                <td>
                    <a href="" ng-click="PublishText(t.TextId, t)">Publish</a>
                </td>
                <td>
                    <a href="" ng-click="RevokeText(t.TextId, t)">Revoke</a>
                </td>
                <td>
                    <a href="/Admin/Edit/{{t.TextId}}">Edit</a>
                </td>
                <td>
                    <a href="" ng-click="DeleteText(t.TextId)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </article>
    <article class="mobile">
        <div ng-repeat="t in texts track by t.TextId">
            <ul>
                <li>Title: {{t.TextTitle}}</li>
                <li>Date: {{t.TextDate | date: "dd/MM/yyyy @@ HH:mm"}}</li>
                <li>Published: {{t.TextPublished ? t.TextPublishDate : "n/a" | date: "dd/MM/yyyy @@ HH:mm"}}</li>
                <li>Views: {{t.TextViews}}</li>
                <li>Shares: {{t.TextShares}}</li>
                <li>Stay: {{t.TextStayDuration / 60000 | limitTo: 4}}</li>
                <li>
                    <!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="http://floserzaehlungen.blog/" data-a2a-title="{{t.TextTitle}}">
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                    </div>
                    <script>
                        var a2a_config = a2a_config || {};
                        a2a_config.locale = "de";
                        a2a_config.templates = {
                            twitter: "Neue Erzählung '${title}' auf: ${link}"
                        };
                    </script>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                </li>
                <li>
                    <a href="" ng-click="PublishText(t.TextId, t)">Publish</a>
                </li>
                <li>
                    <a href="" ng-click="RevokeText(t.TextId, t)">Revoke</a>
                </li>
                <li>
                    <a href="/Admin/Edit/{{t.TextId}}">Edit</a>
                </li>
                <li>
                    <a href="" ng-click="DeleteText(t.TextId)">Delete</a>
                </li>
            </ul>
        </div>
    </article>
</section>
<section class="admin" ng-controller="AnalyticsController">
    <article>
        <table ng-init="GetPageVisits()">
            <thead>
            <tr>
                <th>Page</th>
                <th>Visits</th>
                <th>Avr. Time Spent On Page</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Home</td>
                <td>{{pageVisits.HomeVisits}}</td>
                <td>{{pageVisits.TimeSpentOnHome / 60000 | limitTo: 4}}</td>
            </tr>
            <tr>
                <td>Archive</td>
                <td>{{pageVisits.ArchiveVisits}}</td>
                <td>{{pageVisits.TimeSpentOnArchive / 60000 | limitTo: 4}}</td>
            </tr>
            <tr>
                <td>About</td>
                <td>{{pageVisits.AboutVisits}}</td>
                <td>{{pageVisits.TimeSpentOnAbout / 60000 | limitTo: 4}}</td>
            </tr>
            </tbody>
        </table>
    </article>
</section>