
@{
    ViewBag.Title = "Index";
}

<section ng-controller="TextsController">
    <form ng-submit="CreateText()">
        <label>Text Title</label>
        <input type="text" ng-model="newText.TextTitle" required/>
        <label>Text Content</label>
        <textarea ui-tinymce="{trusted: true}" ng-model="newText.TextContent" required></textarea>
        <input type="submit" value="Publish"/>
    </form>
    <table ng-init="GetTextsForAdmin()">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Views</th>
            <th>Shares</th>
            <th>Aver. Stay</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in texts track by t.TextId">
            <td>{{t.TextTitle}}</td>
            <td>{{t.TextDate}}</td>
            <td>{{t.TextViews}}</td>
            <td>{{t.TextShares}}</td>
            <td>{{t.TextStayDuration}}</td>
            <td><a href="/Admin/Edit/{{t.TextId}}">Edit</a></td>
            <td><a href="" ng-click="DeleteText(t.TextId)">Delete</a></td>
        </tr>
        </tbody>
    </table>
</section>

