
@{
    ViewBag.Title = "Read";
}

<section ng-controller="TextsController" ng-init="GetText(); MeasureStayOnPage()">
    <article class="text">
        <h2>{{text.TextTitle}}</h2>
        <div ng-bind-html="text.TextContent | html"></div>
        <footer>
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a ng-click="ShareText()" class="a2a_button_facebook"></a>
                <a ng-click="ShareText()" class="a2a_button_twitter"></a>
                <a ng-click="ShareText()" class="a2a_button_google_plus"></a>
                <a ng-click="ShareText()" class="a2a_button_whatsapp"></a>
                <a ng-click="ShareText()" class="a2a_button_reddit"></a>
                <a ng-click="ShareText()" class="a2a_button_email"></a>
                <a ng-click="ShareText()" class="a2a_button_facebook_messenger"></a>
                <a ng-click="ShareText()" class="a2a_button_copy_link"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->
        </footer>
    </article>
</section>


