
@{
    ViewBag.Title = "Index";
}

<section>
    <article>
        <h2>Über Flos Blog</h2>
        <p>
            Ein Geschichten-Blog von <a href="mailto: florian.delvo@googlemail.com">Florian Delvo</a>.
        </p>
    </article>
</section>

