
@{
    ViewBag.Title = "Index";
}

<section>
    <article>
        <h2>Über Flos Erzählungen</h2>
        <p>
            Ein Blog mit Erzählungen von <a href="mailto: florian.delvo@googlemail.com">Florian Delvo</a>.
        </p>
    </article>
</section>

